Source: libayatana-indicator
Section: libs
Priority: optional
Maintainer: Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               libtool,
               intltool,
               gnome-common,
               gtk-doc-tools,
               dbus-test-runner,
               xvfb,
               libglib2.0-dev (>= 2.37),
               libgtk2.0-dev (>= 2.18),
               libgtk-3-dev (>= 2.91.3),
               libayatana-ido3-0.4-dev (>= 0.4.0-0~)
Standards-Version: 3.9.6
Homepage: https://github.com/ArcticaProject/libayatana-indicator
Vcs-Git: git://cgit.arctica-project.org/ayatana/libayatana-indicator.git
Vcs-Browser: https://cgit.arctica-project.org/ayatana/libayatana-indicator.git/

Package: libayatana-indicator7
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: panel indicator applet - shared library
 This library contains information to build indicators to go into
 the indicator applet.
 .
 This package contains the library itself.

Package: libayatana-indicator-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libgtk2.0-dev (>= 2.12.0),
         libayatana-indicator7 (= ${binary:Version}),
Description: panel indicator applet - library development files
 This library contains information to build indicators to go into
 the indicator applet.
 .
 This package contains files that are needed to build applications.

Package: libayatana-indicator3-7
Section: libs
Architecture: any
Pre-Depends: multiarch-support
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: panel indicator applet - shared library
 This library contains information to build indicators to go into
 the indicator applet.
 .
 This package contains the library itself.

Package: libayatana-indicator3-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libgtk-3-dev (>= 2.91.3),
         libayatana-indicator3-7 (= ${binary:Version}),
         libayatana-indicator-dev (= ${binary:Version}),
Description: panel indicator applet - library development files
 This library contains information to build indicators to go into
 the indicator applet.
 .
 This package contains files that are needed to build applications.

Package: libayatana-indicator3-tools
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libayatana-indicator3-7 (= ${binary:Version}),
Replaces: libayatana-indicator-tools,
Conflicts: libayatana-indicator-tools,
Description: Tools for libayatana-indicator
 Tools useful for developers of applications using indicators.
 .
 This package contains files that are needed to build applications.
